body {
  font-family: Arial, sans-serif;
  background: #0e4b82;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #eef2f3;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  padding: 20px;
  text-align: center;
}

.login-container h2 {
  margin: 0 0 20px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}

.login-container input[type="submit"] {
  background: #0e4b82;
  font-weight: bold;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
}

.login-container input[type="submit"]:hover {
  background-color: #0e4b82;
}

.login-container .forgot-password {
  text-align: left;
  margin: 10px 0;
  font-size: 14px;
  font-style: italic;
  margin-left: 40px;
}

.login-container .forgot-password input[type="checkbox"] {
  margin-right: 5px;
}

.logo {
  text-align: center;
  margin-bottom: -50px;
}

.logo img {
  max-width: 100%;
}
@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }
  .input-group {
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 10rem;
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
  .gender-inputs {
    margin-top: 2rem;
  }
  .gender-group {
    flex-direction: column;
  }
  .gender-title h6 {
    margin: 0;
  }
  .gender-input {
    margin-top: 0.5rem;
  }
}
