@import url("html://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.1);
}
.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  bottom: 0;
  width: 110px;
  height: 100vh;
  padding: 0 1rem;
  color: #fff;
  overflow: hidden;
  transition: all 0.5s linear;
  background: rgba(14, 75, 130);
}
.sidebar:hover {
  width: 270px;
  transition: 0.5s;
}
.logo {
  height: 80px;
  padding: 16px;
}
.menu {
  height: 88%;
  position: relative;
  list-style: none;
  padding: 0;
}
.menu li {
  padding: 2rem;
  margin: 8px 0;
  border-radius: 15px;
  transition: all 0.5s ease-in-out;
}
.menu li:hover, 
.active {
  background: #e0e0e058;
}
.menu a {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu a span {
  overflow: hidden;
}
.menu a i {
  font-size: 1.2rem;
}
.logout {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.main--content {
  position: relative;
  background: #ebe9e9;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
.header--wrapper img {
  width: 50px;
  height: 50px;
  cursor: pointer;
  border-radius: 50%;
  margin: 1rem;
}
.header--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}
.header--title {
  color: rgba(14, 75, 130);
}
.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.sear-box {
  background: rgba(237, 237, 237);
  border-radius: 15px;
  color: rgba(14, 75, 130);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 4px 12px;
}
.sear-box input {
  background: transparent;
  padding: 10px;
}
.sear-box i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.5s ease-out;
}
.sear-box i:hover {
  transform: scale(1.2);
}
.calculoorcamento {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 10px;
  box-shadow: 2px 2px lightgray;
  padding: 10px 12rem;
  text-align: center;
  margin: 5%;
  width: 90%;
  height: 100%;
}
#generate-pdf{
  width: 40%;
  margin: auto;
  outline: none;
  border-radius: 20px; 
  padding: 5px 10px;
  border: none;
  background-color: rgba(14, 75, 130);
  color: white;
}

.imprimir{
  color: green
}

main {
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: 1.2rem;
  align-items: center;
}

.resume {
  display: flex;
  padding: 10px 2rem;
  gap: 10px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.resume > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  padding: 20px;
  width: 170px;
  }

.newItem {
  display: flex;
  gap: 20px;
  align-items: end;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.divDesc{
  display: flex;
  flex-direction: column;
  width: 300px;
}
.divAmount{
  display: flex;
  flex-direction: column;
  width: 250px;
}
.divType{
  display: flex;
  flex-direction: column;
}
.newItem > button {
  background-color:  rgba(14, 75, 130);
  color: white;
  border: none;
  padding: 0 30px;
  border-radius: 5px;
  cursor: pointer;
  height: 34px;
}

input, select {
  padding: 5px;
  background-color: #5f515158;
  border-radius: 10px;
}

.divTable {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 5%;
}

table {
  width: 100%;
  padding: 20px 0;
  border-radius: 5px;
}

th {
  text-align: start;
  border-bottom: inset;
  padding-bottom: 5px;
}

i {
  font-size: 25px;
}

.bxs-chevron-up-circle {
  color: #00C9A7;
}

.bxs-chevron-down-circle {
  color: #D83121;
}

.columnAction {
  width: 40px;
  text-align: center;
}

.columnAction > button {
  background: transparent;
  border: none;
}

.columnAmount {
  width: 30%;
}

.columnType {
  width: 80px;
  text-align: center;
}
