body {
    font-family: Arial, sans-serif;
    background: #0e4b82;
    margin: 0;
    padding: 0;
    height: 100vh;
  }
  .logo {
    text-align: center;
    margin-bottom: -50px;
  }
  
  .logo img {
    max-width: 100%;
  }
 table {
    font-family: Arial, sans-serif;
    font-size: large;
    background-color: #eef2f3;
    color: #0e4b82;
    margin: 0;
    padding: 0;
    height: 30vh;
    width: 100vh;
  }
caption {
  font-family: Arial, sans-serif;
  font-size: large;
  background-color: #eef2f3;
  color: #0e4b82;
  margin: 0;
  padding: 0;
  width: 100vh;
}    