@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0e4b82;
}

.container {
  align-items: center;
  width: 40%;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
  padding: 20px;
  border-radius: 8px;
  background-color:#ffffff;
}

form {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 3rem;
  margin-left: 8rem;
}

.form-header {
  margin-bottom: 3rem;
  display: flex;
  justify-content: space-between;
}

label {
  margin-bottom: 8px;
}
input {
  padding: 10px;
  margin-top: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 1rem 0;
}

button {
  padding: 12px;
  background-color: #0e4b82;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0e4b82;
  align-items: center;
}

.switch {
  text-align: center;
  margin-top: 20px;
}

.switch a {
  text-decoration: none;
  color: #0e4b82;
  font-weight: bold;
}
.form-header h1::after {
  content: "";
  display: block;
  width: 5rem;
  height: 0.3rem;
  background: #0e4b82;
  margin: 0 auto;
  position: absolute;
  border-radius: 10px;
}
.input-box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1.1rem;
  margin-top: 1.1rem;
}

.input-box input {
  margin: 0.6rem 0;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  font-size: 0.8rem;
}

.input-box input:hover {
  background-color: #eeeeee75;
}

.input-box input:focus-visible {
  outline: 1px solid black;
}

.input-box label,
.gender-title h6 {
  font-size: 0.75rem;
  font-weight: 600;
  color: #000000c0;
}

.input-box input::placeholder {
  color: #000000be;
}

.gender-group {
  display: flex;
  justify-content: space-between;
  margin-top: 0.62rem;
  padding: 0 0.5rem;
}

.gender-input {
  display: flex;
  align-items: center;
}

.gender-input input {
  margin-right: 0.35rem;
}

.gender-input label {
  font-size: 0.81rem;
  font-weight: 600;
  color: #000000c0;
}

.logo {
  text-align: center;
  margin-top: 30rem;
}

.logo img {
  max-width: 100%;
}

@media screen and (max-width: 1330px) {
  .form-image {
    display: none;
  }
  .container {
    width: 50%;
  }
  .form {
    width: 100%;
  }
}
@media screen and (max-width: 1064px) {
  .container {
    width: 90%;
    height: auto;
  }
  .input-group {
    flex-direction: column;
    z-index: 5;
    padding-right: 5rem;
    max-height: 10rem;
    overflow-y: scroll;
    flex-wrap: nowrap;
  }
  .gender-inputs {
    margin-top: 2rem;
  }
  .gender-group {
    flex-direction: column;
  }
  .gender-title h6 {
    margin: 0;
  }
  .gender-input {
    margin-top: 0.5rem;
  }
}
